.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 25px 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(30, 149, 155, 0.5);
}
.btn:hover {
    filter: brightness(95%);
}
.btn:active {
    scale: 0.98;
}
.btn-colored {
    background-color: var(--color-target);
    color: #fff;
}
.btn-bordered {
    border: 1px solid var(--color-main);
    color: var(--color-main);
    background: none;
    padding: 25px 60.5px;
}
