/* services section */

.services {
    background-color: var(--color-background);
    padding-top: 120px;
}

.services__wrapper {
    max-width: 1158px;
}
.service__cards {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-bottom: 33px;
}
.service__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 164px;
    border-radius: 25px;

    box-shadow: 0px 4px 4px 0px rgba(30, 149, 155, 0.5);
    background: var(--gradient);
}
.service__card:hover {
    box-shadow: inset 0 4px 4px 0 rgba(30, 149, 155, 0.5);
}
.service__card-img {
    margin-bottom: 21px;
}
.service__card-text {
    color: var(--color-text);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
}
.service__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.service__content {
    width: 372px;
}
.service__title {
    color: var(--color-main);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.service__description {
    max-width: 325px;
    color: var(--color-text);
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 44px;
}
.service__description span {
    font-weight: 700;
}
